@import "bootstrap";

body {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin: 15px 0;
}

h2 a,
h2 a:hover,
h2 a:visited,
h2 a:active,
h2 a:focus {
  text-decoration: none;
  color: inherit;
}

.table {
  margin-bottom: 0;
}

.logoText {
  font-weight: bold;
  color: #999999;
}

.btn-link {
  margin: 0;
  padding: 0;
}

[role="button"] {
  cursor: pointer;
}

.react-icon-align {
  vertical-align: top;
  margin-top: 4px;
}

.MonitorListLine > td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MonitorListLine-buttons {
  margin-left: auto;
  order: 2;
}
